body{
    width: 100vw;
    height: 100vh;
   padding-top: 10vh;
    background-image: url('https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    color: rgb(1, 162, 1);

}
h1 {
     text-align: center;
    -webkit-text-stroke: 1px rgb(2, 68, 2) ;
    font-size: 58px;
 }
#form1{
    display: flex;
    justify-content: space-around; 
}
#form1 div div{
    display: flex;
    justify-content: space-between;
}
#form1 div div input{
    width: 5vw;
    margin-left: 20px;
    text-align: center;
    background: none;
    border: none;
    border-bottom: 1px rgb(1, 162, 1) solid;
     font-weight: bold;
    color: rgb(1, 162, 1);
    padding: 0 0 1px 0 ;
}
#form1 div div input:focus{
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px rgb(1, 162, 1) solid;
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    color: rgb(1, 162, 1);
}
.noDisplay{
    display: none;
}
.jumbotron{
    background-color: rgba(0, 0, 0, 0.776);
}
.error{
    color: red;
}
.btn-outline-success{
    border: 1px rgb(1, 162, 1) solid;
    color: rgb(1, 162, 1)
}
.btn-outline-success:hover{
   background: rgb(1, 162, 1);
    color: rgb(0, 0, 0)
}